@charset "utf-8";

/* thema */
.none {
  top: 25%;
  left: 18.6%;
  width: 33.4%;
  height: 10%;
}

.scroll-speed {
  top: 35.3%;
  left: 18.6%;
  width: 33.4%;
  height: 28.3%;
}

.free {
  top: 63.8%;
  left: 18.6%;
  width: 33.4%;
  height: 9.9%;
}
