@charset "utf-8";

/* layout */
.l-bg {
  background-color: #db7b00;
}

.l-main-content {
  padding: 50px 137px 0px;
}

.l-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  background-color: #252645;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.l-description {
  background-color: rgba(255, 255, 255, 0.75);
  height: 468px;
  padding: 40px 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* module */
.header-icon {
  width: 54px;
  height: 58px;
  margin-right: 10px;
}

.header-text {
  font-size: 32px;
  color: #ffffff;
  height: 58px;
  display: flex;
  align-items: center;
}

.description-top-text-wrapper {
  line-height: 1.5;
  margin-bottom: 43px;
}

.description-top-text {
  font-size: 23px;
  color: #252645;
}

.list-message {
  font-size: 22px;
  color: #252645;
}

.list-message-supplement {
  font-size: 22px;
  color: #252645;
  margin-left: 1em;
  margin-top: 15px;
}

.description-list {
  margin-bottom: 30px;
}
