@charset "utf-8";

/* thema */
.edit {
  top: 36.3%;
  left: 51.6%;
  width: 33.8%;
  height: 9%;
}

.coop {
  top: 44.3%;
  right: 1.65%;
  width: 7.8%;
  height: 13.4%;
}

.play {
  top: 46.1%;
  left: 51.6%;
  width: 33.8%;
  height: 9%;
}

.submit {
  top: 55.8%;
  left: 51.6%;
  width: 33.8%;
  height: 9%;
}

.course-name {
  top: 65.5%;
  left: 51.6%;
  width: 13.7%;
  height: 10.7%;
}

.course-description {
  top: 65.5%;
  left: 65.5%;
  width: 13.6%;
  height: 10.7%;
}

.trash {
  top: 65.5%;
  left: 79.4%;
  width: 5.8%;
  height: 10.7%;
}
